PORT=5000
MONGO_URI=mongodb+srv://shirishakencha31_db_user:shirisha3134@cluster0.dxqmlpd.mongodb.net/genz-hub?retryWrites=true&w=majority&appName=Cluster0

JWT_SECRET=123456
JWT_EXPIRE=7d
NODE_ENV=development
